<md-content class="md-padding" layout="row" layout-wrap layout-align="start">
    <div flex="50" layout="column" layout-sm="row"  ng-repeat="art in listCtrl.arts">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{art.artName}}</span>
                    <span class="md-subhead">{{art.artistName}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg">
                        <carousel interval="10000" no-wrap="noWrapSlides">
                            <slide ng-repeat="image in art.uploadedImages" active="slide.active">
                                <img data-ng-src="data:image/jpeg;base64,{{image.imageData}}"
                                     style="width: 300px; height: 300px; margin:auto;">

                                <div class="carousel-caption">
                                    <h4>Slide {{$index + 1}}</h4>
                                </div>
                            </slide>
                        </carousel>
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button md-primary" aria-label="Edit">
                    <md-icon md-svg-icon="img/icons/ic_mode_edit_black_24px.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary" aria-label="Delete">
                    <md-icon md-svg-icon="img/icons/ic_delete_black_24px.svg"></md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>