<div layout="column" ng-cloak>
    <br/>

    <div layout="row" layout-sm="column">
        <md-input-container class="md-icon-float md-block" flex="50">
            <md-icon md-svg-src="img/icons/ic_perm_identity_black_24px.svg"></md-icon>
            <input ng-model="artistCtrl.getArtistWithEmail" type="email"
                   placeholder="Fetch Artist Information from his email">
        </md-input-container>
        <md-button ng-click="artistCtrl.getArtist(artistCtrl.getArtistWithEmail)">Get</md-button>
    </div>
    <form name="artistForm" id="artistForm">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Artist</h3>
            </div>
            <div class="panel-body" layout="column" layout-sm="row">
                <md-content layout-padding>
                    <md-input-container class="md-icon-float md-block" flex="33" flex-sm="100" flex-md="50">
                        <md-icon md-svg-src="img/icons/ic_perm_identity_black_24px.svg"></md-icon>
                        <input ng-model="artistCtrl.artist.name" name="artistName" type="text"
                               placeholder="Name (required)" ng-required="true">
                    </md-input-container>
                    <md-input-container md-no-float class="md-block" flex="33" flex-sm="100" flex-md="50">
                        <md-icon md-svg-src="img/icons/ic_phone_black_24px.svg"></md-icon>
                        <input ng-model="artistCtrl.artist.phone" min="100000" max="9999999999" step="1" type="number"
                               placeholder="Phone Number">
                    </md-input-container>
                    <md-input-container class="md-block" flex="33" flex-sm="100" flex-md="50">
                        <!-- Use floating placeholder instead of label -->
                        <md-icon md-svg-src="img/icons/ic_email_black_24px.svg"></md-icon>
                        <input ng-model="artistCtrl.artist.email" type="email" placeholder="Email (required)"
                               ng-required="true">
                    </md-input-container>
                    <md-input-container class="md-block" flex="33" flex-sm="100" flex-md="50">
                        <!-- Use floating placeholder instead of label -->
                        <md-icon md-svg-src="img/icons/ic_vpn_key_black_24px.svg"></md-icon>
                        <input ng-model="artistCtrl.artist.password" type="password" placeholder="Password (required)"
                               ng-required="true">
                    </md-input-container>
                    <md-input-container md-no-float class="md-block" flex="33" flex-sm="100" flex-md="50">
                        <md-icon md-svg-src="img/icons/ic_room_black_24px.svg"
                                 style="display:inline-block"></md-icon>
                        <input ng-model="artistCtrl.artist.address" type="text" placeholder="Address">
                    </md-input-container>


                    <md-datepicker ng-model="artistCtrl.artist.dob"></md-datepicker>

                    <md-list>
                        <md-subheader class="md-no-sticky">Display Pic:</md-subheader>
                        <md-list-item class="md-2-line" ng-repeat="image in artistCtrl.artist.displayPic">
                            Uploaded Image :
                            <img flex="33" flex-sm="100" data-ng-src="data:image/jpeg;base64,{{image.imageData}}"
                                 class="md-avatar" style="width: 10%; height: 10%"/></h4>
                        </md-list-item>
                        <md-list-item layout-sm="column">
                            <input flex="33" type="file" id="triggerDisplayPic" ng-model="artistCtrl.displayPic"
                                   name="uploadedData" onchange="angular.element(this).scope().showDisplayPic()">
                            Chosen Image :
                            <img flex="33" flex-sm="100" ng-src="{{artistCtrl.displayPic}}" class="md-avatar"
                                 style="height: 10%; width: 10%">
                        </md-list-item>
                    </md-list>
                    <br>
                </md-content>
            </div>

            <div class="panel-footer clearfix">
                <md-button class="md-raised md-primary md-fab" ng-click="artistCtrl.postOrUpdateArtist()"
                           ng-disabled="artistForm.$invalid">
                    <md-icon md-svg-src="img/icons/ic_mode_edit_black_24px.svg"></md-icon>
                </md-button>
                <md-button class="md-raised md-primary md-fab" ng-click="artistCtrl.disableArtist()"
                           ng-disabled="artistForm.$invalid">
                    <md-icon md-svg-src="img/icons/ic_delete_black_24px.svg"></md-icon>
                </md-button>
            </div>
        </div>
    </form>
</div>