<md-menu-bar class="text-primary">
    <md-menu>
        <button ng-click="$mdOpenMenu()">
            Menu
        </button>
        <md-menu-content>
            <md-menu-item>
                <a ng-href="#artist">New Artist</a>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-menu>
                    <md-button ng-click="$mdOpenMenu()">Art</md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <a ng-href="#art">Upload Art</a>
                        </md-menu-item>
                        <md-menu-item>
                            <a ng-href="#art/list">List All</a>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</md-menu-bar>